<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="js/firebase.js"></script>
    <title>Profile</title>
</head>

<body class="bg-gray-300">

    <!-- navbar -->
    <%- include('./partials/dash-head.ejs') %>
        <!-- section1 -->

        <%-include('./partials/dash-footer.ejs') %>

</body>

<script src="/js/form.js"></script>





</html>